.logo{
  font-size: 32px;
  line-height: normal;
  background: -webkit-linear-gradient(var(--color-light-gray), var(--color-dark-cyan));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}