.nav{
  /* padding: 24px 48px; */
}

.nav ul{
  display: flex;
  list-style-type: none;
  gap: 56px;
  text-transform: uppercase;
}

.nav a{
  text-decoration: none;
}

.nav ul li *{
  color: #fffdf8;
}

.nav :global(.active){
  color: var(--color-dark-cyan);
}

.header{
  padding: 16px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta{
  display: inline-block;
}

.cta a{
  background: var(--color-light-cyan);
  padding: 5px 10px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
  color: #1c1b1f !important;
}

.cta a:hover{
  background: var(--color-dark-cyan);
  color: #fff !important;
}