#root {
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;

  --color-dark-black:#0B0C10;
  --color-dark-gray:#1f2833;
  --color-light-gray:#c5c6c7;
  --color-light-cyan:#66fcf1;
  --color-dark-cyan:#45a29e;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*{
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

* {
  line-height: calc(1em + 0.5rem);
}
body{
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  height: 100%;
  width: 100%;
}

